html {
  height: 100%;
  margin: 0;
  padding 0;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding 0;
  display: inline-table;
}

.hugeContainer {
  border: 1px solid #d8d8d8;
  display: block;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  border-left-style: none;
  border-right-style: none;
}
.options {
  display: inline-block;
  margin-left: 11%;
}

#kitty {
  font-size: 32px;
}

.bar {
  padding-left: 1em;
}

#look {
  height: 24px;
  width: 400px;
}

.photo {
  width: 230px;
  height: 230px;
  border-radius: 5px;
}

img{
  width: 230px;
  height: 230px;
  border-radius: 5px;
}

header {
  background-color: #f5f5f5;
}

li.nav {
  display: inline-block;
}

.navPad {
  padding-left: 1em;
  font-size: 12px;
  font-weight: bolder;
}

ul {
  width: 100%;
  padding: 1em;
  list-style: none;
}

.full_name {
  font-size: 28px;
}

.name {
  font-size: 22px;
  color: #999;
}

.info {
  border: 1px solid #d8d8d8;
  border-left: transparent;
  border-right: transparent;
  width: 198px;
}

.statTop {
  text-align: center;
  font-size: 25px;
  color: #4078c0;
}

.stats {
  align-content: center;
  border: 1px solid #d8d8d8;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  display: inline-block;
  width: 230px;
  font-size: 15px;
}

.numbers {
  display: inline-block;
  margin-left: 5%;
  border-style: solid 2px;
  border-color: #f5f5f5;
}

[class*='col-'] {
  float: left;
}

.col-1-3 {
  margin-left: 12%;
  margin-top: 10px;
}

.col-2-3 {
  width: 60%;
  float: right;
  margin-right: 5%;
}

.tabList {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 0;
  margin-bottom: 1em;
  padding-left: 0;
}

#tab1 {
  color: #4078c0;
  padding-bottom: 1em;
  padding-top: .5em;
  /*background-color: #f5f5f5;*/
}

.hmmm {
  display: inline-block;
  margin-right: 5%;
  margin-left: 0;
  /*background-color: #f5f5f5;*/
}

.tab-panel {
  border-bottom: 1px solid #d8d8d8;
  display: none;
}

.tab-panel.active {
  display: block;
  border-bottom: none;
  /*border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;*/
}



.tab-control {
  /*border: 1px solid #d8d8d8;*/
  padding: 5px;
}

li.pop-repo {
  background-color: #f5f5f5;
  padding: .5em;
  border-bottom: 1px solid #d8d8d8;
}

li.title {
  color: #666;
  font-size: 1.3em;
  font-weight: bold;
  padding: .5em .5em;
  border-bottom: 1px solid #d8d8d8;
}

.description {
  font-size: .6em;
  font-weight: 300;
  color: #666;
  padding: 5px;
}

p.updated {
  font-size: .5em;
  font-weight: 300;
  color: #666;
  padding-top: .5em;
  padding-bottom: 2em;
  padding-left: 5px;
}

h4 {
  color: #4078c0;
  display: inline;
  font-weight: bold;
}

h3 {
  color: #4078c0;
  display: inline;
  font-size: 1.3em;
  font-weight: bold;
}

#tab-1 {
  border: 1px solid #d8d8d8;
  border-radius: .2em;
  padding: 0px;
}

a {
  font-size: .8em;
  color: #666;
  text-decoration: none;
}

.public-activity{
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: rgba(0,0,0,0.05);
  padding-top: 25px;
  width: 100%;
  height: 50px;
}

.description-two {
  padding-top: .5em;
  font-size: .6em;
  font-weight: 400;
  color: #666;
  padding: 5px;
}

.input-repo {
  margin-top: 5px;
  margin-left: 5px;
  width: 250px;
  height: 25px;
  font-size: .8em;
  color: #e5e5e5;

}

.search-repo {
  padding-bottom: .5em;
  border-bottom: 1px solid #e5e5e5;
}

.submit-repo {
  margin-left: 5px;
  margin-right: 250px;
  width: 100px;
  height: 30px;
  font-size: .8em;
  font-weight: bold;
}

.repo-link {
  color: #4078c0;
}

li.tab {
  padding-top: 2px;
  margin-bottom: -1px;
  text-align: center;
  width: 150px;
  height: 30px;
}

li.tab.active {
  border-bottom: 1px solid white;
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-left:1px solid #d8d8d8;
}

.footer {
  position: abolute;
  height: 3em;
  margin-top: -3em;
  width: 87.5%;
  background-color: white;
  margin-left: 12.5%;
  left: 0;
  bottom: 0;
  font-size: 12px;
}

#rights {
  color: #767676;
}

.footLeft {
  float: left;
  display: inline-block;
  padding-left: 1em;
  color: #4078c0;
}

.footy {
  float: right;
  padding-right: 20px;
  color: #4078c0;
}

.footRight {
  padding-right: 2em;
  display: inline-block;

}

#catMid {
  padding-left: 160px;
  color: #767676;
}
