html {
  font-size: 1em;
  font-family: Helvetica, sans-serif;
}

.hugeContainer {
  border: 1px solid #d8d8d8;

}

.leftContainer {
  /*width: 33.33%;*/
}

.rightContainer {
  /*border: 1px solid #d8d8d8;*/
}

img.photo {
  width: 230px;
  height: 230px;
  border-radius: 5px;
}

.name {
  font-size: 1.5em;
  color: #999;
}

.info {
  width: 88%;
}

li.nav {
  display: inline-block;
}

ul {
  width: 100%;
  /*border: 1px solid black;*/
  list-style: none;
}

.stats {
  align-content: center;
}

.statTop {
  text-align: center;
  font-size: 25px;
  color: #4078c0;
}

.numbers {
  display: inline-block;
  margin-left: 5%;

}

[class*='col-'] {
  float: left;
}

.col-1-3 {
  /*border: 1px solid red;*/
  width: 32%;
}

.col-2-3 {
  width: 60%;
  float: right;
  margin-right: 5%;
}

.tabList {
  margin-bottom: 1em;
}

#tab1 {
  color: #4078c0;
  padding-top: .5em;
  /*background-color: #f5f5f5;*/
}

.hmmm {
  display: inline-block;
  margin-right: 5%;
  margin-left: 0;
  /*background-color: #f5f5f5;*/
}

.tab-panel {
  border-bottom: 1px solid #d8d8d8;
  display: none;
}

.tab-panel.active {
  display: block;
  border-bottom: none;
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}

.tab-control {
  /*border: 1px solid #d8d8d8;*/
  padding: 5px;
}

li.pop-repo {
  background-color: #f5f5f5;
  padding: .5em;
  border-bottom: 1px solid #d8d8d8;
}

li.title {
  color: #666;
  font-size: 1.3em;
  font-weight: bold;
  padding: .5em .5em;
  border-bottom: 1px solid #d8d8d8;
}

.description {
  font-size: .6em;
  font-weight: 300;
  color: #666;
  padding: 5px;
}

p.updated {
  font-size: .5em;
  font-weight: 300;
  color: #666;
  padding-top: .5em;
  padding-bottom: 2em;
  padding-left: 5px;
}

h4 {
  color: #4078c0;
  display: inline;
  font-weight: bold;
}

h3 {
  color: #4078c0;
  display: inline;
  font-size: 1.3em;
  font-weight: bold;
}

#tab-1 {
  border: 1px solid #d8d8d8;
  border-radius: .2em;
}

a {
  font-size: .8em;
  color: #666;
  text-decoration: none;
}

.public-activity{
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: rgba(0,0,0,0.05);
  padding-top: 25px;
  width: 100%;
  height: 50px;
}

.description-two {
  padding-top: .5em;
  font-size: .6em;
  font-weight: 400;
  color: #666;
  padding: 5px;
}

.input-repo {
  margin-top: 5px;
  margin-left: 5px;
  width: 250px;
  height: 25px;
  font-size: .8em;
  color: #e5e5e5;

}

.submit-repo {
  margin-left: 5px;
  margin-right: 250px;
  width: 100px;
  height: 30px;
  font-size: .8em;
  font-weight: bold;
}

.repo-link {
  color: #4078c0;
}
